

@main("Echo Company 363 | About") {
    <div class="container">
        <h3>Welcome to the Echo Company 363 Showcase</h3>
        <p>
            This is a site that uses xboxapi to aggregate links to video clips and screen shots for Destiny on
            the XBox One platform for the <a href="https://www.the100.io/groups/90" target="_blank">Echo Company 363 100.io group</a> .
        </p>
        <p>
            Since <a href="https://xboxapi.com">https://xboxapi.com</a> is not a free service for a large number of queries,
            I have imposed a limit that you have to have you Clan Tag set to E363 (our 100.io clan tag) in order to add
            yourself to the showcase. That's really the only limit.
        </p>
        <p>
            The Gameclips/Screenshots links will show you the most recent 99 clips/screenshots saved by members of the showcase,
            sorted by (newest) date published.
            Game clips and Screenshots are updated immediately for a new Gamertag when added, and Hourly for everyone in the system.
        </p>
        <p>
            This site is made and hosted by Alteration x10. If you have any questions / comments / concerns, hit me up
            on XBox or alterationx10@@markslaboratory.com. I'm sure there are still a few bugs to work out,
            so if you come across some weirdness, send me an email!
        </p>
    </div>
}