@(gamerList: List[Gamer])

@main("Echo Company 363 | Gamertags") {

    <form class="form-inline" role="form" method="post" action="@routes.Application.addGamer()" style="float: right ;">
        <p>
            Is your Destiny clan tag set to E363? If so, join the showcase!
        </p>
        <div class="form-group">
            <label for="gamertag">XBox Gamertag:</label>
            <input type="text" class="form-control" id="gamertag" name="gamertag">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
        <p>
            Note: This uses the Destiny API to check your clan tag, and seems to be case-sensitive
        </p>
    </form>

    <h4>Guardians currently in the showcase:</h4>
    <ul style="list-style: none;">
        @for(gamer <- gamerList) {
            <li>@gamer.gt <a href="@routes.Application.gamerGameClips(gamer.gt)">Clips</a> <a href="@routes.Application.gamerScreenShots(gamer.gt)">Screenshots</a> </li>
        }
    </ul>

}