@(gcList: List[GameClip], gamerMap: Map[String, String])

    @main("Echo Company 363 | Game Clips") {

        <div class="container">
        @for(subgroup <- gcList.grouped(3)) {
            <div class="row">
            @for(gc <- subgroup) {
                <div class="col-md-4 thumbnail">
                    <p>
                        <a href="@routes.Application.gamerGameClips(gamerMap.get(gc.ownerXuid).getOrElse("Unknown"))">
                        @gamerMap.get(gc.ownerXuid).getOrElse("Unknown")
                        </a>
                         on <script>document.write(new Date(@gc.datePublished).toLocaleString())</script>
                        <a href="@routes.Application.gamerGameClip(gamerMap.get(gc.ownerXuid).getOrElse("Unknown"), gc.gameClipId)">Link</a>
                    </p>
                    <div class="video-js-responsive-container vjs-hd">
                        <video id="my-video" class="video-js vjs-default-skin" controls preload="none"
                        poster="@gc.thumbnail" data-setup="{}">
                            <source src="@gc.url" type='video/mp4'>
                            <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that
                                <a href="https://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
                            </p>
                        </video>
                    </div>
                </div>
            }
            </div>
        }

        </div>

        <script src="https://vjs.zencdn.net/5.4.6/video.js"></script>

    }