@(scList: List[Screenshot], gamerMap: Map[String, String])

@main("Echo Company 363 | Screenshots") {

    <div class="container">

    @for(subgroup <- scList.grouped(3)) {
        <div class="row">
        @for(sc <- subgroup) {
            <div class="col-md-4">
                <a href="@sc.uri" class="thumbnail">
                    <p>@gamerMap.get(sc.ownerXuid).getOrElse("Unknown") + date goes here</p>
                    <img src="@sc.thumbnail" alt="@gamerMap.get(sc.ownerXuid).getOrElse("Unknown")">
                </a>
            </div>
        }
        </div>
    }

    </div>

}