@(scList: List[Screenshot], gamerMap: Map[String, String])

@main("Echo Company 363 | Screenshots") {

    <div class="container">

    @for(subgroup <- scList.grouped(3)) {
        <div class="row">
        @for(sc <- subgroup) {
            <div class="col-md-4 thumbnail">
                    <p>@gamerMap.get(sc.ownerXuid).getOrElse("Unknown") on <script>document.write(new Date(@sc.datePublished).toLocaleString())</script></p>
                <a href="@sc.url">
                <img src="@sc.largeThumbnail" alt="@gamerMap.get(sc.ownerXuid).getOrElse("Unknown")">
                </a>
            </div>
        }
        </div>
    }

    </div>

}